.editorconfig

*.sh
*.module.js
*.test.js

!mongodb-version-list.json
!mongodb-tool-version-list.json

!setup-jq.sh
!setup-wget.sh
!setup-mongodb-version.sh
!setup-mongodb-tool-version.sh
